@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: ;
  --color-primary-hover: ;

  --color-secondary-green: ;

  --color-background-color: ;

  --color-background-card-color: ;
  --color-border-color: ;

  --color-text-color: ;
  --color-text-color-green: ;

  --font-display: ;
  --radius-lg: ;
  --radius-xl: ;
}

:root {
  --color-primary: #5ccd5b;

  --color-secondary-green: #93e392;

  --color-background-color: #121212;

  --color-background-card-color: #1e1e1e;
  --color-border-color: #2b362b;

  --color-text-color: #bebebe;
  --color-text-color-green: #8aac89;

  --font-display: "Lexend", sans-serif;
  --radius-lg: 1rem;
  --radius-xl: 3rem;
}

body {
  font-family: var(--font-display);
}
